*{
    margin:0;
    padding:0;
}
.body{
    <!--
        border 0px solid red is for controlling divs. When
        i need to find where my divs collapse, i change it
        to border 1px and solve problem. Ignore them!!!
    -->
    border: 0px solid red;
    max-height:100%;
    margin:0 100px;
}
.head{
    border: 0px solid red;
    font-family: sans-serif;
}
.logo{
    border: 0px solid red;
    margin-top: 60px;
    font-size:43pt;
    text-decoration: none;
    color: #000000;
}
.head_nav_bar{
    border: 0px solid red;
    display:block;
    padding:0 300px;
    background-color: #35444f;
    margin-top: 40px;
}
.head_nav{
    display: inline-block;
    padding:22px 8px 16px 8px ;
    color: #ffffff;
    text-decoration: none;
    border-style: solid;
    border-color: #35444f;
    border-width:  0px 1px 0px 1px;
    font-size: 12pt;
}
.head_nav:hover{
    background-color: #222f3a;
    border-color: #818181;
    border-width: 0px 1px 0px 1px;
}
.belly{
    border: 0px solid red;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.side_belly{
    border: 1px solid #35444f;
    width:300px;
    align-self: flex-start;
}
.side_nav{
    display: block;
    border: 0px solid red;
    padding: 10px 0px 10px 20px;
    text-decoration: none;
    color: #485863;
    font-size: 16pt;
    font-family: sans-serif;
}
.side_nav:hover{
    background-color: #dbdbdb;
    color: #000000;
    padding-left: 45px;
}
.mid_belly{
    border: 0px solid red;
    width:700px;
    max-height:100%;
}
.img_frame{
    border:1px solid #35444f;
    width:700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.front_img{
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
    transition: transform .3s;
}
.front_img:hover {
    transform: scale(1.5);
}
.text_atb{
    margin-bottom: 30px;
}
.feet{
    border: 0px solid red;
    font-family: sans-serif;
    display: flex;
    background-color: #b4b7ba;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.feet_nav_bar{
    border: 0px solid red;
    padding: 12px 14px;
}
.feet_nav{
    color: #0c1927;
    text-decoration: none;
    font-size: 13pt;
    padding: 12px 8px;
}
.feet_nav:hover{
    color: #3181a6;
    text-decoration: underline;
}
.feet_links{
    margin-right: 20px;
    color: #010101;
}